Source: jinja2-apci
Maintainer: Dean Serneevy <deans@apcisystems.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 8), swig, dh-python, python-all, python-setuptools, python3-all, python3-setuptools
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Standards-Version: 3.9.1
Homepage: https://github.com/duelafn/python-jinja2-apci

Package: python-jinja2-apci
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-jinja2
Description: APCI LLC's jinja2 extensions (Python 2)
 Jinja2 Extensions: raise and require

Package: python3-jinja2-apci
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}, python3-jinja2
Description: APCI LLC's jinja2 extensions (Python 3)
 Jinja2 Extensions: raise and require
